[submodule "CatEngine/vendors/spdlog"]
	path = CatEngine/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CatEngine/vendors/glm"]
	path = CatEngine/vendors/glm
	url = https://github.com/anythingsoup01/glm
[submodule "CatEngine/vendors/glad"]
	path = CatEngine/vendors/glad
	url = https://github.com/anythingsoup01/glad
